<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dev Roger| Portfólio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../assets/img/favicon-roger.png" rel="icon">

  <!-- Vendor CSS Files -->
  <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../assets/css/style.css" rel="stylesheet">

  <!-- Lib Icons -->
  <script src="https://kit.fontawesome.com/8fa2413384.js" crossorigin="anonymous"></script>

  <!-- =======================================================
  * Template Name: DevFolio - v4.3.0
  * Template URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      <div>
        <h1 class="logo"><a href="index.html">DevRoger</a></h1>
        <p class="description_logo_profile">Desenvolvedor FullStack</p>
      </div>

      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Sobre</a></li>
          <li><a class="nav-link scrollto" href="#services">Serviços</a></li>
          <li><a class="nav-link scrollto " href="#work">Portfólio</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="hero route bg-image" style="background-image: url(assets/img/background-banner.jpg)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <p class="display-6 color-d">Seja bem vindo! 😀</p>
          <h1 class="hero-title mb-4">Prazer, sou Roger Crescêncio</h1>
          <p class="hero-subtitle"><span class="typed"
              data-typed-items="Desenvolvedor FullStack, Atuo com: Front End 💻️ ,Atuo com: Back End 💻️,Atuo com: Mobile 📱"></span>
          </p>
        </div>
        <div class="social-midia-home">
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/roger-sene-crescencio" target="_blank">
                <i class="bi bi-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/rogersene" target="_blank">
                <i class="bi bi-github"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt2 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row d-flex justify-content-center align-content-center">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="../../assets/img/Foto-Perfil-Roger.jpg" class="img-fluid rounded-circle border  border-3 border-primary"
                          alt="">
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Tecnologias que utilizo</p>
                    <div class="row imgs-technologies">
                      <img src="/assets/img/icons-technologies/react-native.svg" alt="">
                      <img src="/assets/img/icons-technologies/reactjs.svg" alt="">
                      <img src="/assets/img/icons-technologies/nextjs.svg" alt="">
                      <img src="/assets/img/icons-technologies/redux.svg" alt="">
                      <img src="/assets/img/icons-technologies/typescript.svg" alt="">
                      <img src="/assets/img/icons-technologies/node.svg" alt="">
                      <img src="/assets/img/icons-technologies/html5.svg" alt="">
                      <img src="/assets/img/icons-technologies/javascript.svg" alt="">
                      <img src="/assets/img/icons-technologies/css3.svg" alt="">
                      <img src="/assets/img/icons-technologies/bootstrap.svg" alt="">
                      <img src="/assets/img/icons-technologies/styledComponents.svg" alt="">
                      <img src="/assets/img/icons-technologies/ant-design.svg" alt="">
                      <img src="/assets/img/icons-technologies/tailwind.svg" alt="">
                      <img src="/assets/img/icons-technologies/mysql.svg" alt="">
                      <img src="/assets/img/icons-technologies/mongodb.svg" alt="">
                      <img src="/assets/img/icons-technologies/postgresql.svg" alt="">
                      <img src="/assets/img/icons-technologies/firebase.svg" alt="">
                      <img src="/assets/img/icons-technologies/aws.svg" alt="">
                      <img src="/assets/img/icons-technologies/heroku.svg" alt="">
                      <img src="/assets/img/icons-technologies/git.svg" alt="">
                      <img src="/assets/img/icons-technologies/jest.svg" alt="">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Sobre mim:
                      </h5>
                    </div>
                    <p class="lead">
                      Olá meu nome é Roger, sou um desenvolvedor apaixonado por tecnologia.Minhas habilidades técnicas
                      são complementadas por uma abordagem proativa, resolução de problemas
                      eficaz. Sou altamente motivado, organizado e comprometido em
                      entregar resultados de alta qualidade dentro dos prazos estabelecidos.
                    </p>

                    <p class="lead">
                      Durante minha carreira, tive a oportunidade de trabalhar em projetos desafiadores e colaborar com
                      equipes multidisciplinares. Isso me proporcionou uma compreensão abrangente do ciclo de vida de
                      desenvolvimento de software, desde a concepção até a entrega. Sou experiente no uso de
                      metodologias
                      ágeis, como Scrum e kabam para garantir um processo de desenvolvimento eficiente e colaborativo.
                    </p>

                    <p class="lead">
                      Com mais de 6 anos de experiência como desenvolvedor fullStack, e especializando-me em React e
                      React
                      Native, html e css adquiri um amplo conhecimento em criar interfaces de usuário intuitivas e responsivas,
                      juntamente com a capacidade de construir funcionalidades complexas de forma eficiente. Meu foco
                      principal é fornecer soluções de alta qualidade que atendam às necessidades dos usuários e excedam
                      as expectativas.
                    </p>

                    <p class="lead">
                      Estou animado com a possibilidade de fazer participar e contribuir para o
                      sucesso do seu projeto. Estou confiante de que minha experiência e paixão pela programação
                      tornam-me a pessoa certa para o seu projeto.
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services-mf route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Serviços
              </h3>
              <p class="subtitle-a">
                Trabalhos que realizo:
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><img class="image-services" src="/assets/img/services/developer.png"
                    alt="icone desenvolvedor"></img></span>

              </div>
              <div class=" service-content">
                <h2 class="s-title">Desenvolvimento de Plataformas Web</h2>
                <p class="s-description text-center">
                  Seja imbatível na web. Desenvolvo plataformas web que oferecem uma experiência memorável e única,
                  com
                  arquitetura pronta para o crescimento.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><img class="image-services" src="/assets/img/services/web-development.png"
                    alt="icone desenvolvedor"></img></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Criação de Sites e Landing pages de Qualidade</h2>
                <p class="s-description text-center">
                  Sua imagem digital no topo. Experiência do usuário, design, performance e segurança impecáveis. A
                  excelência que seu negócio merece!
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><img class="image-services" src="/assets/img/services/mobile-development.png"
                    alt="icone desenvolvedor"></img></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Desenvolvimento de aplicativos móveis</h2>
                <p class="s-description text-center">
                  Seu sucesso mobile começa aqui. Aplicativos que elevam sua marca a um novo patamar. Desenvolvo apps
                  sob medida para seu sucesso definitivo.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="fab fa-react"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Desenvolvimento Front-end Moderno</h2>
                <p class="s-description text-center">
                  Desenvolvimento front-end com tecnologias modernas como React, Next, TypeScript, Redux etc, com
                  padrões de
                  código
                  universais, versionamento git, arquitetura escalável, e muito mais.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="fab fa-node-js"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Desenvolvimento Back-end e API com Node.js</h2>
                <p class="s-description text-center">
                  Desenvolvimento back-end completo, com micro-serviços otimizados e arquitetura robusta para suportar
                  altas cargas de processamento sem comprometer o desempenho.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-grid-1x2"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Webdesign de Sites e Landing Pages modernas</h2>
                <p class="s-description text-center">
                  Webdesign de alta qualidade visual com técnicas avançadas em neuromarketing, semântica e heurística
                  para tornar os seus usuários fãs da sua marca, produto ou serviço.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Portfolio
              </h3>
              <p class="subtitle-a">
                Conheça alguns dos projetos já desenvolvidos
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div id="container-portfolio" class="row">
        </div>
      </div>
    </section>
    <!-- End Portfolio Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route"
      style="background-image: url(assets/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-mf">
              <div id="contact" class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Envie-me uma mensagem
                      </h5>
                    </div>
                    <div>
                      <form action="/" method="POST" id="form-contact" role="form" class="php-email-form">
                        <div class="row">
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" name="name" class="form-control" id="name" placeholder="Seu nome"
                                required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email"
                                required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="phone" id="phone"
                                placeholder="Telefone para contato" maxlength="15" required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto"
                                required>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea class="form-control" name="message" rows="5" placeholder="Mensagem"
                                required></textarea>
                            </div>
                          </div>
                          <div class="col-md-12 text-center my-3">
                            <div class="loading">Enviando Fomulário!</div>
                            <div class="error-message">Por favor preencha todos campos obrigatórios</div>
                            <div class="sent-message">Sua mensagem foi enviada! Em breve entrarei em contato.</div>
                          </div>
                          <div class="col-md-12 text-center">
                            <button type="submit" onclick="addClassLoadSendForm()"
                              class="button button-a button-big button-rouded">Enviar Mensagem</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="title-box-2 pt-4 pt-md-0">
                      <h5 class="title-left">
                        Entrar em contato
                      </h5>
                    </div>
                    <div class="more-info">
                      <p class="lead">
                        Entre em contato comigo nos contatos abaixo, estou quase sempre online 😀
                      </p>
                      <ul class="list-ico">
                        <li>
                          <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5535998696136&text=Olá Roger"
                            target="_blank" class="bi bi-phone">
                            (35) 99869-6136
                          </a>
                        </li>
                        <li>
                          <a href="mailto:rogersenefaria@gmail.com" class="bi bi-envelope">
                            rogersenefaria@gmail.com
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="socials">
                      <ul>
                        <li>
                          <a href="https://github.com/rogersene" target="_blank">
                            <span class="ico-circle">
                              <img src="assets/img/ico-github.svg">
                            </span>
                          </a>
                        </li>
                        <li>
                          <a href="https://www.linkedin.com/in/roger-sene-crescencio" target="_blank">
                            <span class="ico-circle">
                              <img src="assets/img/ico-linkedin.svg">
                            </span>
                          </a>
                        </li>
                        <li>
                          <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5535998696136&text=Olá Roger"
                            target="_blank">
                            <span class="ico-circle">
                              <img src="assets/img/ico-whatsapp.svg">
                            </span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright">
            &copy; Copyright <strong class="copyrightStar">ROGER TECHNOLOGICAL SOLUTIONS</strong>. Todos direitos reservados. </br>
            <p>CNPJ: 23.310.985/0001-57</p>
         
            <div class="credits">
              
              <p href="http://evolvemarketing.com.br">Feito com <strong> 💙 </strong> por <strong>Roger
                  Crescencio</strong></p>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->

  <script>
    const portfolio = [
            {
        id: 1,
        customer: "Singular Moda Uniformes",
        description:
          "Este espaço digital moderno e intuitivo foi criado para empresa M2 empreendimentos e foi projetado para fornecer informações claras sobre os serviços oferecidos, destacando a expertise da empresa e facilitando o contato com potenciais clientes.",
        url: "https://evolvemarketing.com.br",
        images: {
          projectCover: "singular-uniformes-desktop-1.png",
          carrousel:
            [
              {
                id: "1",
                name: "singular-uniformes-desktop-1",
              }
            ]
        }
      },
      {
        id: 2,
        customer: "EVOLVE - Marketing Assessoria",
        description: "vai cagar",
        url: "https://evolvemarketing.com.br",
        images: {
          projectCover: "evolve-marketing-desktop-1.png",
          carrousel:
            [
              {
                id: "1",
                name: "evolve-marketing-desktop-1.png",
              }
            ]
        }
      },
      {
        id: 3,
        customer: "MAYA A ASSISTÊNTE VIRTUAL 24 HORAS",
        description:
          "Este espaço digital moderno e intuitivo foi criado para empresa M2 empreendimentos e foi projetado para fornecer informações claras sobre os serviços oferecidos, destacando a expertise da empresa e facilitando o contato com potenciais clientes.",
        url: "https://mayarj.com",
        images: {
          projectCover: "maya-rj-desktop-1.png",
          carrousel:
            [
              {
                id: "1",
                name: "maya-rj-desktop-1.png",
              }
            ]
        }
      },
      {
        id: 4,
        customer: "Usina Textil",
        description:
          "Este espaço digital moderno e intuitivo foi criado para empresa M2 empreendimentos e foi projetado para fornecer informações claras sobre os serviços oferecidos, destacando a expertise da empresa e facilitando o contato com potenciais clientes.",
        url: "https://usinatextil.com.br",
        images: {
          projectCover: "usina-textil-desktop-1.png",
          carrousel:
            [
              {
                id: "1",
                name: "usina-textil-desktop-1.png",
              }
            ]
        }
      },
      {
        id: 5,
        customer: "Attolini - Assesoria em seguros",
        description:
          "Este espaço digital moderno e intuitivo foi criado para empresa Attolini seguros e foi projetado para fornecer informações claras sobre os serviços oferecidos, destacando a expertise da empresa e facilitando o contato com potenciais clientes.",
        url: "https://attoliniseguros.com.br",
        images: {
          projectCover: "attolini-desktop.png",
          carrousel:
            [
              {
                id: "1",
                name: "attolini-desktop.png",
              }
            ]
        }
      },
      {
        id: 6,
        customer: "M2 Empreendimentos",
        description:
          "Este espaço digital moderno e intuitivo foi criado para empresa M2 empreendimentos e foi projetado para fornecer informações claras sobre os serviços oferecidos, destacando a expertise da empresa e facilitando o contato com potenciais clientes.",
        url: "https://m2empreendimentos.net/",
        images: {
          projectCover: "m2-empreendimentos-desktop-1.png",
          carrousel:
            [
              {
                id: "1",
                name: "m2-empreendimentos-desktop-1.png",
              }
            ]
        }
      },
    ];


    function renderPortfolio(portfolio) {
      const containerPortfolio = document.getElementById("container-portfolio");
      portfolio.map(project => {
        let element = document.createElement('div');
        element.classList.add('col-md-4');
        element.innerHTML = `
          <div class="work-box">
            <a href="../../assets/img/portfolio/${project.images.projectCover}" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="../../assets/img/portfolio/${project.images.projectCover}" alt="" class="img-fluid" style="max-height: 171px;">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">${project.customer}</h2>
                  <div class="w-more">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="/portfolio-details?id=${project.id}"> 
                      <span class="bi bi-plus-circle"></span>
                      </a>
                  </div>
                </div>
              </div>
            </div>
          </div>`
        return containerPortfolio.appendChild(element)
      })
    }

    renderPortfolio(portfolio);

  </script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../assets/js/mascara.js"></script>
  <script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../assets/vendor/typed.js/typed.min.js"></script>

  <!-- <script>
    console.log(portfolio)
    function renderPortfolio(portfolio) {
      // const containerPortfolio = document.getElementById("container-portfolio");

      // map(data)
    }
  </script> -->

  <!-- Template Main JS File -->
  <script src="../../assets/js/main.js"></script>

</body>

</html>